<div class="scrollable_div">
	<a class="pull-right" ng-click="jsLoadAdmin();">Обновить</a>
	<h3>Учёт трафика</h3>
	<div class="admin_cup">
		<ul class="admin_ul">
		  <div ng-repeat="a in admin">
			<li ng-click="a._visible=!a._visible">
				<div class="admin_col">
					<span class="manager_fio" ng-class="{bold:(a.manager_id<0)}">
						<i class="icon-user"></i>
						{{fpk.jsFioShort(a.manager, "name")}}&nbsp;
					</span>
				</div>
				
				<div class="admin_col" ng-click="jsAddAdminDo(a.manager_id, 'zv');$event.stopPropagation();">
					<img src="images/do_type/1zvonok.png">
					<span class="round">
					 	{{a.zv_admin}}&nbsp;{{jsSign(a.zv_admin, a.zv_manager)}}&nbsp;{{a.zv_manager}}
					</span>
				</div>

				<div class="admin_col" ng-click="jsAddAdminDo(a.manager_id, 'vz');$event.stopPropagation();">
					<img src="images/do_type/1vizit.png">
					<span class="round">
					 	{{a.vz_admin}} {{jsSign(a.vz_admin, a.vz_manager)}} {{a.vz_manager}}
					</span>
				</div>

				<div class="admin_col" ng-click="jsAddAdminDo(a.manager_id, 'vz2');$event.stopPropagation();">
					<img src="images/do_type/1vizit.png" class="second"> 
					<span class="round">
					 	{{a.vz2_admin}}
					</span>
					<font color="#CCC">- вторичный визит</font>
				</div>
			</li>
			<div class="admin_content" ng-if="a._visible">
				<ol>
					<li ng-repeat="mydo in a.mydo" ng-click="jsEditAdminDo(mydo)" ng-class="{active:( (mydo.id == edit_mydo.id) && (cup_new_show) )}">
						В <b>{{mydo.date1 | nicetime}}</b> был <b>{{jsDoTypeText(mydo.type)}}</b> по модели 
						<b>{{(mydo.model==-1)?"неизвестно":fpk.models[mydo.model].model}}</b>.
						Источник рекламы: <b>{{fpk.jsFindInArray(fpk.commercials,"id",mydo.commercial).title}}</b><span ng-if="mydo.fio">. Клиент: <b>{{mydo.fio}}</b></span>
						<a class="pull-right"><i class="icon-edit"></i></a>
					</li>
				</ol>
			</div>
		  </div>
		</ul>
	</div>

  <button class="btn btn-success" ng-click="jsLoadAdminReport()"><span ng-if="!admin_models">Показать</span> <span ng-if="admin_models">Обновить</span> отчёты по трафику</button>

  <div ng-show="admin_models||admin_commercials">

	<h3>Трафик по моделям</h3>

	<table class="model_trafic">
		<tr>
			<th></th>
			<th colspan="3">Администратор — день (месяц)</th>
			<th colspan="7"class="manager">Менеджер — день (месяц)</th>
		</tr>
		<tr>
			<th>Модель</th>
			<th>Звонки</th>
			<th>Визиты</th>
			<th>Вторичные визиты</th>
			<th class="manager">Звонки</th>
			<th class="manager">Визиты</th>
			<th class="manager">Тесты</th>
			<th class="manager">Взяли контакты</th>
			<th class="manager">Нет контактов (Out)</th>
			<th class="manager">Договора</th>
			<th class="manager">Выдачи</th>
		</tr>
		<tr ng-repeat="model in admin_models">
			<td class="model">{{model.model}}</td>
			<td><span ng-if="model.zv_month||model.zv"><b>{{model.zv}}</b> ({{model.zv_month}})</span></td>
			<td><span ng-if="model.vz_month||model.vz"><b>{{model.vz}}</b> ({{model.vz_month}})</span></td>
			<td><span ng-if="model.vz2_admin_month||model.vz2_admin"><b>{{model.vz2_admin}}</b> ({{model.vz2_admin_month}})</span></td>
			<td class="manager"><span ng-if="model.zv_manager||model.zv_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_zv_manager)">{{model.zv_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_zv_manager_month)">({{model.zv_manager_month}})</a></span></td>
			<td class="manager" ><span ng-if="model.vz_manager||model.vz_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_vz_manager)">{{model.vz_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_vz_manager_month)">({{model.vz_manager_month}})</a></td>
			<td class="manager"><span ng-if="model.tst_manager||model.tst_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_tst_manager)">{{model.tst_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_tst_manager_month)">({{model.tst_manager_month}})</a></td>
			<td class="manager"><span ng-if="model.contacts||model.contacts_month"><b ng-click="fpk.jsShowClientIds(model.ids_contacts)">{{model.contacts}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_contacts_month)">({{model.contacts_month}})</a></td>
			<td class="manager"><span ng-if="model.out_manager||model.out_month"><b ng-click="fpk.jsShowClientIds(model.ids_out)">{{model.out}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_out_month)">({{model.out_month}})</a></td>
			<td class="manager"><span ng-if="model.dg||model.dg_month"><b ng-click="fpk.jsShowClientIds(model.ids_dg)">{{model.dg}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_dg_month)">({{model.dg_month}})</a></td>
			<td class="manager"><span ng-if="model.vd||model.vd_month"><b ng-click="fpk.jsShowClientIds(model.ids_vd)">{{model.vd}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_vd_month)">({{model.vd_month}})</a></td>
		</tr>
	</table>


	<h3>Трафик по менеджерам</h3>

	<table class="model_trafic">
		<tr>
			<th></th>
			<th colspan="3">Данные администратора</th>
			<th colspan="7"class="manager">Данные менеджера</th>
		</tr>
		<tr>
			<th>Источник</th>
			<th>Звонки</th>
			<th>Визиты</th>
			<th>Вторичные визиты</th>
			<th class="manager">Звонки</th>
			<th class="manager">Визиты</th>
			<th class="manager">Тесты</th>
			<th class="manager">Взяли контакты</th>
			<th class="manager">Нет контактов (Out)</th>
			<th class="manager">Договора</th>
			<th class="manager">Выдачи</th>
		</tr>
		<tr ng-repeat="model in admin_users">
			<td class="model">{{fpk.jsFioShort(model.fio,"name")}}</td>
			<td><span ng-if="model.zv_month||model.zv"><b>{{model.zv}}</b> ({{model.zv_month}})</span></td>
			<td><span ng-if="model.vz_month||model.vz"><b>{{model.vz}}</b> ({{model.vz_month}})</span></td>
			<td><span ng-if="model.vz2_admin_month||model.vz2_admin"><b>{{model.vz2_admin}}</b> ({{model.vz2_admin_month}})</span></td>
			<td class="manager"><span ng-if="model.zv_manager||model.zv_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_zv_manager)">{{model.zv_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_zv_manager_month)">({{model.zv_manager_month}})</a></span></td>
			<td class="manager" ><span ng-if="model.vz_manager||model.vz_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_vz_manager)">{{model.vz_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_vz_manager_month)">({{model.vz_manager_month}})</a></td>
			<td class="manager"><span ng-if="model.tst_manager||model.tst_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_tst_manager)">{{model.tst_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_tst_manager_month)">({{model.tst_manager_month}})</a></td>
			<td class="manager"><span ng-if="model.contacts||model.contacts_month"><b ng-click="fpk.jsShowClientIds(model.ids_contacts)">{{model.contacts}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_contacts_month)">({{model.contacts_month}})</a></td>
			<td class="manager"><span ng-if="model.out_manager||model.out_month"><b ng-click="fpk.jsShowClientIds(model.ids_out)">{{model.out}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_out_month)">({{model.out_month}})</a></td>
			<td class="manager"><span ng-if="model.dg||model.dg_month"><b ng-click="fpk.jsShowClientIds(model.ids_dg)">{{model.dg}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_dg_month)">({{model.dg_month}})</a></td>
			<td class="manager"><span ng-if="model.vd||model.vd_month"><b ng-click="fpk.jsShowClientIds(model.ids_vd)">{{model.vd}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_vd_month)">({{model.vd_month}})</a></td>
		</tr>
	</table>


	<h3>Трафик по источникам рекламы</h3>

	<table class="model_trafic">
		<tr>
			<th></th>
			<th colspan="3">Данные администратора</th>
			<th colspan="7"class="manager">Данные менеджера</th>
		</tr>
		<tr>
			<th>Источник</th>
			<th>Звонки</th>
			<th>Визиты</th>
			<th>Вторичные визиты</th>
			<th class="manager">Звонки</th>
			<th class="manager">Визиты</th>
			<th class="manager">Тесты</th>
			<th class="manager">Взяли контакты</th>
			<th class="manager">Нет контактов (Out)</th>
			<th class="manager">Договора</th>
			<th class="manager">Выдачи</th>
		</tr>
		<tr ng-repeat="model in admin_commercials">
			<td class="model">{{model.commercial}}</td>
			<td><span ng-if="model.zv_month||model.zv"><b>{{model.zv}}</b> ({{model.zv_month}})</span></td>
			<td><span ng-if="model.vz_month||model.vz"><b>{{model.vz}}</b> ({{model.vz_month}})</span></td>
			<td><span ng-if="model.vz2_admin_month||model.vz2_admin"><b>{{model.vz2_admin}}</b> ({{model.vz2_admin_month}})</span></td>
			<td class="manager"><span ng-if="model.zv_manager||model.zv_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_zv_manager)">{{model.zv_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_zv_manager_month)">({{model.zv_manager_month}})</a></span></td>
			<td class="manager" ><span ng-if="model.vz_manager||model.vz_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_vz_manager)">{{model.vz_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_vz_manager_month)">({{model.vz_manager_month}})</a></td>
			<td class="manager"><span ng-if="model.tst_manager||model.tst_manager_month"><b ng-click="fpk.jsShowClientIds(model.ids_tst_manager)">{{model.tst_manager}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_tst_manager_month)">({{model.tst_manager_month}})</a></td>
			<td class="manager"><span ng-if="model.contacts||model.contacts_month"><b ng-click="fpk.jsShowClientIds(model.ids_contacts)">{{model.contacts}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_contacts_month)">({{model.contacts_month}})</a></td>
			<td class="manager"><span ng-if="model.out_manager||model.out_month"><b ng-click="fpk.jsShowClientIds(model.ids_out)">{{model.out}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_out_month)">({{model.out_month}})</a></td>
			<td class="manager"><span ng-if="model.dg||model.dg_month"><b ng-click="fpk.jsShowClientIds(model.ids_dg)">{{model.dg}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_dg_month)">({{model.dg_month}})</a></td>
			<td class="manager"><span ng-if="model.vd||model.vd_month"><b ng-click="fpk.jsShowClientIds(model.ids_vd)">{{model.vd}}</b> <a ng-click="fpk.jsShowClientIds(model.ids_vd_month)">({{model.vd_month}})</a></td>
		</tr>
	</table>

	<a id="edit_admin_cup">Редактировать</a>

  </div>

</div>



	<div class="admin_cup_new" ng-if="cup_new_show">
	  <div class="row">
	  	<div class="col-md-12">
	  		<button class="btn btn-success btn-sm" ng-click="jsSaveAdmin(edit_mydo)">Сохранить</button>

            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle pull-center" data-toggle="dropdown">
                Тип дела: <b>{{jsDoTypeText(edit_mydo.type)}}</b> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
              	<li ng-click="edit_mydo.type='zv'"><a>Звонок</a></li>
              	<li ng-click="edit_mydo.type='vz'"><a>Визит первичный</a></li>
              	<li ng-click="edit_mydo.type='vz2'"><a>Визит вторичный</a></li>
              </ul>
            </div>

			<input date-time-entry="edit_mydo.date1" class="do_date1"></input>


	  		<a class="close_new pull-right" ng-click="jsCloseAdminDo()">Закрыть</a>
	  		<a class="del_new pull-right" ng-click="jsDelAdmin(edit_mydo.id)">Удалить</a>

	  	</div>
	  </div>
	  <br>
	  <div class="row">
	  	<div class="col-md-8">
            <div class="input-group input-group-sm client_fio_input">
              <span class="input-group-addon" title="ФИО клиента">ФИО:</span>
              <input type="text" class="form-control" placeholder="Самойлов Анатолий Петрович" ng-model="edit_mydo.fio">
            </div>

	  	</div>
		<div class="col-md-4">

            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                Менеджер: <b>{{fpk.jsFioShort(fpk.jsFindInArray(fpk.managers,"id",edit_mydo.manager_id).fio)}}</b> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                  <li ng-click="edit_mydo.manager_id=manager.id" ng-repeat="manager in fpk.managers | onlyManager:true"><a><i class="icon-user"></i>{{manager.fio}}</a></li>

                    <li class="dropdown-submenu"><a>Остальные</a>
                     <ul class="dropdown-menu">
                      <li ng-click="edit_mydo.manager_id=manager.id" ng-repeat="manager in fpk.managers | onlyManager:false"><a>{{manager.fio}}</a></li>
                     </ul>
                    </li>


              </ul>
            </div>

		</div>	  
	  </div> <!-- row -->


	  <div class="row">
		<div class="col-md-5">
		<h5>Модель:</h5>
		<ol class="model_select">
            <li ng-click="edit_mydo.model = -1"><a>Неизвестно</a></li>
            
 			<li ng-repeat="model in fpk.models_array_show" ng-click="edit_mydo.model = model.id" ng-class="{active:(edit_mydo.model==model.id)}"><a>{{model.model}}</a></li>
  		</ol>
  		</div>

		<div class="col-md-7">
		<h5>Откуда про нас узнали:</h5>
		<ol class="commercial_select">
            <li ng-click="edit_mydo.commercial = comm.id" ng-class="{active:(edit_mydo.commercial==comm.id)}" ng-repeat="comm in fpk.commercials"><a>{{comm.title}}</a></li>
            <li ng-click="client.commercial_id=0"><a>Неизвестно</a></li>
  		</ol>
  		</div>

	  </div> <!-- row -->


	</div>