
              <div id="cards_scrollable" infinite-scroll="myPagingFunction()" infinite-scroll-distance="500">
               <div id="cards_container">

                <div id="cards_header" >                  
                    <div class="btn-group col-sm-3" style="display:none">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                          Группировка: {{fpk.jsGroupName(fpk.clientsgroupby)}}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li role="presentation" class="dropdown-header">Группировать:</li>                 
                          <li ng-click="jsSelectGroup('manager_id');"><a href="#"><span class='hot_key'>alt + 1</span>по менеджеру</a></li>
                          <li ng-click="jsSelectGroup('model');"><a href="#"><span class='hot_key'>alt + 2</span>по модели</a></li>
                          <li ng-click="jsSelectGroup('icon');"><a href="#"><span class='hot_key'>alt + 3</span>по желанию клиента</a></li>
                          <li ng-click="jsSelectGroup('icon2');"><a href="#"><span class='hot_key'>alt + 4</span>по вероятности выдачи в этом месяце</a></li>
                        </ul>

                    </div>

                    <div class="news_headers" ng-if="fpk.news">
                      <h3>Новости:</h3>
                      <ul>
                        <li ng-repeat="news in fpk.news">
                          
                          <div class="datemini"  time-now="time_now" date-type="do" ng-model="news.date2" title="{{news.date2}}"></div>

                          <span class="title">{{news.title}}</span>
                        </li>
                      </ul>
                    </div>

                    <ul class="nav nav-tabs group_tabs">
                      <li ng-class="{active:(fpk.clientsgroupby=='manager_id')}" ng-click="jsSelectGroup('manager_id');"><a>Менеджер</a></li>
                      <li ng-class="{active:(fpk.clientsgroupby=='model')}" ng-click="jsSelectGroup('model');"><a>Модель</a></li>
                      <li ng-class="{active:(fpk.clientsgroupby=='icon')}" ng-click="jsSelectGroup('icon');"><a>Желание</a></li>
                      <li ng-class="{active:(fpk.clientsgroupby=='icon2')}" ng-click="jsSelectGroup('icon2');"><a>Вероятность выдачи</a></li>
                      <li ng-if="fpk.clientsgroupby=='vd'" ng-class="{active:(fpk.clientsgroupby=='vd')}" ng-click="jsSelectGroup('vd');"><a>Месяц</a></li>
                      <li ng-if="fpk.clientsgroupby=='out'" ng-class="{active:(fpk.clientsgroupby=='out')}" ng-click="jsSelectGroup('out');"><a>Месяц</a></li>
                    </ul> 


                    <div class="btn-group col-sm-2" style="display:none">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-shuffle"></i>: вручную
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li role="presentation" class="dropdown-header">Сортировать:</li>                 
                          <li><a href="#">вручную</a></li>
                          <li><a href="#">по имени</a></li>
                          <li><a href="#">по дате события</a></li>
                          <li><a href="#">по дате создания</a></li>
                        </ul>
                    </div>






                    <div class="input-group col-sm-3" id="cards_search">
                          <input auto-complete id="search_notes" type="text" ng-model="search_string_for_timeout" ng-change="startSearch(search_string_for_timeout)" class="form-control input-sm" placeholder="Искать...">
                      <!-- <eased-input value="search_string" timeout="500" placeholder="Найти..." class="input-sm"/> -->
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                              <li role="presentation" class="dropdown-header">Где искать:</li>                  
                              <li><a >Среди всех менеджеров</a></li>
                              <li ng-if="false"><a >Среди моих клиентов</a></li>
                            </ul>
                          </div><!-- /btn-group -->
                    </div><!-- /input-group -->

                </div>
                <div style="clear:both;"></div>


                <!-- <button ng-click="myPagingFunction()">Load More...</button> -->

                  <div client-list="fpk.clients" time-now="time_now" my-attr="fpk.clients" my-distinct="clients" clients-by-distinct="fpk.clients_by_distinct"></div>


<!--               <ul class="group_title">
                <li ng-repeat="distinct in fpk.clients_distincts"><h2>{{fpk.jsGetDistinctTitle(distinct)}}</h2>

                  

                </li>
              </ul>
 -->
                </li>
              </ul>

                </div>


               </div> <!-- scrollable --> 
