<div class="scrollable_div">

	<ul class="nav nav-tabs">
	  <li ng-class="{active:(days==1)}" ng-click="days=1"><a>1 день</a></li>
	  <li ng-class="{active:(days==3)}" ng-click="days=3"><a>3 дня</a></li>
	  <li ng-class="{active:(days==7)}" ng-click="days=7"><a>7 дней</a></li>
	  <li ng-class="{active:(days==14)}" ng-click="days=14"><a>14 дней</a></li>
	  <li ng-class="{active:(days==30)}" ng-click="days=30"><a>30 дней</a></li>
	  <li ng-class="{active:(days==100)}" ng-click="days=100"><a>100 дней</a></li>
	  <li ng-class="{active:(days==365)}" ng-click="days=365"><a>365 дней</a></li>
	</ul>	

	<h2>Рейтинг менеджеров за {{days}} дней</h2>

	<table class="reiting_table">
		<tr>
			<th>Место</th>
			<th class="narrow">% от лидера</th>
			<th class="manager">Менеджер</th>
			<th class="narrow">Выдачи</th>
			<th class="narrow">Договора</th>
			<th class="narrow">Тесты</th>
			<th class="narrow">Визиты</th>
			<th class="narrow">Расторг</th>
			<th class="narrow">Нехватка инфо</th>
		</tr>
		<tr ng-repeat="reit in reiting">
			<td>{{$index+1}}</td>
			<td title="{{reit.reiting_sum}}">{{reit.reiting}}%</td>
			<td>{{fpk.jsFioShort(reit.manager, "name")}}</td>
			<td ng-click="jsShowClientIds(reit.vd_ids);" title="{{reit.vd_sum}}">{{reit.vd_count}}</td>
			<td ng-click="jsShowClientIds(reit.dg_ids);" title="{{reit.dg_sum}}">{{reit.dg_count}}</td>
			<td ng-click="jsShowClientIds(reit.tst_ids);" title="{{reit.tst_sum}}">{{reit.tst_count}}</td>
			<td ng-click="jsShowClientIds(reit.vz_ids);" title="{{reit.vz_sum}}">{{reit.vz_count}}</td>
			<td ng-click="jsShowClientIds(reit.rastorg_ids);" title="{{reit.rastorg_sum}}">{{reit.rastorg_count}}</td>
			<td ng-click="jsShowClientIds(reit.no_na_ids);" title="{{reit.no_na_sum}}">{{reit.no_na_count}}</td>
		</tr>

	</table>
	<h5>Как считается рейтинг:</h5>
	<blockquote><p>
	выдачи + (договора)/2 + (тесты)/5 + (визиты)/10	— (расторжения)/3 — (нехватка инфо)/5</p>
	<p>
	Складываются стоимости автомобилей.
	</p>
	</blockquote>
</div>