
<div id="statistics">
	<div id="stat_header">
                <ul class="nav nav-tabs top_tabs" ng-if="false">
                  <li ng-class="{active:stat_view_switch==1}" ng-click="stat_view_switch=1"><a>Бренды</a></li>

                  <li ng-class="{active:stat_view_switch==2}" ng-click="stat_view_switch=2"><a>По моделям</a></li>

                  <li ng-class="{active:stat_view_switch==3}"  ng-click="stat_view_switch=3"><a>По источникам рекламы</a></li>

                  <li ng-class="{active:stat_view_switch==4}" ng-click="stat_view_switch=4"><a>По менеджерам</a></li>

                </ul>	

  <div class="row">
    <div class="col-md-4">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          Начальная дата:
        </span>
        <input type="text" class="form-control" datepicker2 ng-model="fpk.d1" placeholder="01.01.2013">
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          Конечная дата:
        </span>
        <input type="text" class="form-control" datepicker2 ng-model="fpk.d2" placeholder="31.01.2013">
      </div>
    </div>

    <div class="col-md-4">
        <a class="pull-right" ng-click="getCUPtable();fpk.jsLoadStat();">Обновить (данные на {{fpk.stat_load_time}})</a>
    </div>


  </div>

        
        <table>
        <tr ng-repeat="brand in cup" ng-class="{needgroup:( (cup[$index].brand_group)!=(cup[$index-1].brand_group)), is_sum:(brand.id<0)}">
        	<td ng-click="jsSelectBrand(brand.id)" class="first_td"><img style="width:32px;" title="{{brand.title}}" ng-src="images/logos/{{brand.logo}}">
        	<td class="cup_icon"><i>Договора:</i><img src="images/do_type/1dogovor.png"></td>
        	<td ng-class="{active:(cup_selected == brand.id+'dg')}" title="Договора за день (за месяц)" ng-click="loadCupCar(brand.id, 'dg', brand.id+'dg')"><b color-change="brand.cup.dogovor">{{brand.cup.dogovor}} ({{brand.cup.dogovor_month}})</b></td>
        	<td class="cup_icon"><i>Выдачи:</i><img src="images/do_type/1vidacha.png"></td>
        	<td ng-class="{active:(cup_selected == brand.id+'vd')}" title="Выдачи за день (за месяц)" ng-click="loadCupCar(brand.id, 'vd', brand.id+'vd')"><b color-change="brand.cup.vidacha">{{brand.cup.vidacha}} ({{brand.cup.vidacha_month}})</b></td>
        	<td class="cup_icon"><i>Отказы:</i><img src="images/do_type/1out.png"></td>
        	<td ng-class="{active:(cup_selected == brand.id+'out')}" title="Расторжения за день (за месяц)" ng-click="loadCupCar(brand.id, 'out', brand.id+'out')"><b color-change="brand.cup.out">{{brand.cup.out}} ({{brand.cup.out_month}})</b></td>
        	<td class="cup_icon"><i>Звонки:</i><img src="images/do_type/1zvonok.png"></td>
        	<td ng-class="{active:(cup_selected == brand.id+'zv')}" title="Первичные звонки за день (за месяц)" ng-click="loadCupCar(brand.id, 'zv', brand.id+'zv')">
                <b class="b_left" color-change="brand.cup.zvonok" title="Первичные звонки за день (за месяц). Данные МЕНЕДЖЕРОВ.">{{brand.cup.zvonok}} ({{brand.cup.zvonok_month}})</b><b class="b_right" color-change="brand.cup.zvonok_admin" title="Первичные звонки за день (за месяц). Данные АДМИНИСТРАТОРОВ.">{{brand.cup.zvonok_admin}} ({{brand.cup.zvonok_month_admin}})</b>
            </td>
        	<td class="cup_icon"><i>Визиты:</i><img src="images/do_type/1vizit.png"></td>
        	<td ng-class="{active:(cup_selected == brand.id+'vz')}" ng-click="loadCupCar(brand.id, 'vz', brand.id+'vz')">
                <b color-change="brand.cup.vizit" class="b_left" title="Первичные визиты за день (за месяц). Данные МЕНЕДЖЕРОВ.">{{brand.cup.vizit}} ({{brand.cup.vizit_month}})</b><b color-change="brand.cup.vizit_admin" class="b_right" title="Первичные визиты за день (за месяц). Данные АДМИНИСТРАТОРОВ.">{{brand.cup.vizit_admin}} ({{brand.cup.vizit_month_admin}})</b>
            </td>
        	<td class="cup_icon"><i>Тесты:</i><img src="images/do_type/1test-drive.png"></td>
        	<td ng-class="{active:(cup_selected == brand.id+'tst')}" title="Тестдрайвы за день (за месяц)" ng-click="loadCupCar(brand.id, 'tst', brand.id+'tst')"><b color-change="brand.cup.test">{{brand.cup.test}} ({{brand.cup.test_month}})</b></td>
        	<td ng-click="jsCarsEnterClick(brand)" title="Кол-во товарных автомобилей в наличии с учётом клиентских, но без учёта тестовых (кликните, чтобы изменить данные на сегодня)" class="cup_plan_b"><img src="images/do_type/1cars.png"><span ng-if="brand.id>0">{{brand.cup.plan}}</span></td>
        	<td ng-class="{active:(cup_selected == brand.id+'prognoz')}" ng-click="loadCupCar(brand.id, 'prognoz', brand.id+'prognoz')" class="last_td" title="Прогноз выдач = {{brand.cup.vidacha_month}} выдано + {{brand.cup.prognoz_5}} высокая вероятность + {{brand.cup.prognoz_4}} средняя + {{brand.cup.prognoz_3}} маленькая вероятность"><i>Прогноз:</i><img src="images/do_type/1vidacha.png"><b> {{brand.cup.prognoz_5 + brand.cup.prognoz_4 + brand.cup.prognoz_3 + brand.cup.vidacha_month}}</b></td>
        </tr>
        </table>
        <br>


    <ul class="nav nav-tabs">
      <li ng-class="{active:(cup_tab=='clients')}" ng-click="cup_tab='clients'"><a>Клиенты</a></li>
      <li ng-class="{active:(cup_tab=='by_day')}" ng-click="cup_tab='by_day'"><a>Динамика продаж</a></li>
    </ul>   

        <div ng-show="cup_tab=='clients'">
            <div client-list="cup_clients" my-attr="cup_clients" my-distinct="clients"></div>
        </div>

        <div ng-show="(cup_tab=='by_day') && chartConfig" style="width: 750px;">
            <br>
            <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
        </div>
        <!-- <ng-include src="'views/client_list.html'"></ng-include> -->

    </div>
</div>