  <!-- {{jsGetDistinctTitle(distinct)}} -->
                <!-- | filter:filterDistinct | orderBy:clientsgroupby:jsOrder(clientsgroupby) -->

        <ol class="clients_list clearfix noselectable">
                  <li ng-repeat="client in jsClientsInDistinct()" class="client_card" myid="{{client.id}}">

                        <div class="client_container" ng-click="jsOpenClient(client);">
                           <div class="client_car" title="{{client.status}}" style="background:-webkit-gradient(linear, right top, left top, color-stop({{fpk.car_status[client.status].procent}}, #2b365a), color-stop({{fpk.car_status[client.status].procent}}, #516F8F)) !important;">
                           {{fpk.models[client.model].short?fpk.models[client.model].short:'&nbsp;'}}
                           </div>

                           <div class="do_buttons">
                            <div class="do_btn" ng-repeat="do_type in fpk.do_types" ng-click="jsAddDo(do_type,client);$event.stopPropagation();"><img ng-class="{img_active:jsCheckDoType(do_type, client)}" title="{{do_type.title}}" ng-src="images/do_type/{{do_type.img}}"></div>
                           </div>

                           <span ng-if="!fpk.jsCanEditClient(client)" class="client_lock" title="Вы не можете редактировать этого клиента. Обратитесь к руководителю"><i class="icon-lock"></i></span>

                           <div class="datemini" time-now="time_now" date-type="client" ng-model="client.na_date" title="{{client.na_date}}"></div> 
                           <div class="client_fio">{{client.fio}}</div> 
                           <div class="client_manager" ng-if="$routeSegment.startsWith('s1.stat')">{{fpk.jsFioShort( fpk.jsFindInArray(fpk.all_managers,"id",client.manager_id).fio,"name")}}</div>
                           <div ng-if="client.out_reason.length&&client.out_reason.length>9" class="out_reason">{{client.out_reason}}</div>
                        </div>      
                        <div ng-if="client._visible == true" class="client_inside selectable" jq-show-effect="client._visible == true" jq-options="{type:'slide', duration:200, delay:200, hideImmediately: true}" style="display:none;">
                          <div class="client_info" ng-click="jsEditClient(client)">
                            <div class="client_plan">
                              Желание клиента: <img ng-click="jsPlanRotate(client,'icon');$event.stopPropagation();" ng-src="images/progress/progres-{{client.icon}}.gif"><br>
                              Вероятность выдачи в этом месяце: <img ng-click="jsPlanRotate(client,'icon2');$event.stopPropagation();" ng-src="images/progress/progres-{{client.icon2}}.gif">
                            </div>
                            <i class='icon-phone'></i>{{client.phone1}} {{client.phone11}}<span ng-if="client.phone2">, </span>{{client.phone2}} {{client.phone22}}<span ng-if="client.phone3">,</span> {{client.phone3}} {{client.phone33}} {{client.phone4}} {{client.phone44}}
                            <span ng-if="client.adress"><br>{{client.adress}}</span>
                            <span ng-if="client.cost"><br><i class='icon-dollar'></i>{{client.cost}} руб.</span>
                            <br>
                            <span ng-if="client.creditmanager">[оплата: <b>{{client.creditmanager}}</b>]<br></span>
                            <span ng-if="client.commercial_id">[откуда узнали: <b>{{fpk.jsFindInArray(fpk.commercials,"id",client.commercial_id).title}}</b>]<br></span>
                            <span ng-if="client.vin">[VIN: <b>{{client.vin}}</b>]<br></span>
                            <span ng-if="client.email">[Email: <b>{{client.email}}</b>]<br></span>
                            <span ng-if="client.comment.length">{{client.comment}}<br></span><span style="font-size:0px;">{{client.comment.length}}</span>
                            [Менеджер: <i class="icon-user"></i><b>{{fpk.jsFindInArray(fpk.all_managers,"id",client.manager_id).fio}}</b>]<br>
                          </div>
                          <div ng-if="client._edit == true" class="client_edit" jq-show-effect="client._edit == true" jq-options="{type:'slide', duration:200, delay:200, hideImmediately: true}">
                            
                            <div class="row">
                            
                              <div class="col-md-12">
                                <div class="input-group input-group-sm client_fio_input">
                                  <span class="input-group-addon"><i class="icon-user"></i></span>
                                  <input auto-complete ui-keypress="{enter: 'foo()'}" type="text" class="form-control" ng-model="client.fio"  placeholder="Самойлов Анатолий Петрович">
                                </div>
                              </div>

                            </div>


                            <div class="row">

                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <span ng-class="{phone_ok: (client.phone1.length==11)}" class="input-group-addon"><i class="icon-phone"></i></span>
                                  <input type="text" auto-complete ui-items="names" class="form-control" ng-model="client.phone1" placeholder="89221234567">
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <input type="text" class="form-control" ng-model="client.phone11" placeholder="кто">
                                  <span class="input-group-addon"><i class="icon-user"></i></span>
                                </div>
                              </div>

                              <div class="col-md-3 car_cost">
                                <div class="input-group input-group-sm">
                                  <input type="text" class="form-control" ng-model="client.cost" placeholder="цена авто">
                                  <span class="input-group-addon" title="Цена автомобиля"><i class="icon-dollar"></i></span>
                                </div>
                              </div>

                            </div>

                            <div class="row">
                            
                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <span  ng-class="{phone_ok: (client.phone2.length==11)}" class="input-group-addon"><i class="icon-phone"></i></span>
                                  <input type="text" auto-complete class="form-control" ng-model="client.phone2" placeholder="">
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <input type="text" class="form-control" ng-model="client.phone22" placeholder="">
                                  <span class="input-group-addon"><i class="icon-user"></i></span>
                                </div>
                              </div>

                              <div class="col-md-6 but">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Откуда узнали: <b>{{fpk.jsFindInArray(fpk.commercials,"id",client.commercial_id).title}}</b> <span class="caret"></span>
                                      </button>
                                      <ol class="dropdown-menu" role="menu">
                                        <li ng-click="client.commercial_id = comm.id" ng-repeat="comm in fpk.commercials"><a>{{comm.title}}</a></li>
                                        <li class="divider"></li>
                                        <li ng-click="client.commercial_id=0"><a>Неизвестно</a></li>
                                      </ol>
                                    </div>                              
                              </div>


                            </div>

                            <div class="row">
                            
                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <span  ng-class="{phone_ok: (client.phone3.length==11)}" class="input-group-addon"><i class="icon-phone"></i></span>
                                  <input type="text" auto-complete class="form-control" ng-model="client.phone3" placeholder="">
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <input type="text" class="form-control" ng-model="client.phone33" placeholder="">
                                  <span class="input-group-addon"><i class="icon-user"></i></span>
                                </div>
                              </div>

                              <div class="col-md-6 but">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Вид оплаты: <b>{{client.creditmanager}}</b> <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li ng-click="client.creditmanager='Кредит - {{credit.fio}}'; jsClientSave(client);" ng-repeat="credit in fpk.credit_managers"><a href="#">Кредит - {{credit.fio}}</a></li>
                                        <li class="divider"></li>
                                        <li ng-click="client.creditmanager='Наличный расчет'"><a>Наличный расчет</a></li>
                                        <li ng-click="client.creditmanager='Кредит - самостоятельно'"><a>Кредит - самостоятельно</a></li>
                                        <li ng-click="client.creditmanager='Безналичный расчёт'"><a>Безналичный расчёт</a></li>
                                        <li ng-click="client.creditmanager='Лизинг'"><a>Лизинг</a></li>
                                        <li ng-click="client.creditmanager='Тендер'"><a>Тендер — открытый конкурс</a></li>
                                      </ul>
                                    </div>                              
                              </div>


                            </div>

                            <div class="row">
                            
                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <span  ng-class="{phone_ok: (client.phone4.length==11)}" class="input-group-addon"><i class="icon-phone"></i></span>
                                  <input type="text" auto-complete class="form-control" ng-model="client.phone4" placeholder="">
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                  <input type="text" class="form-control" ng-model="client.phone44" placeholder="">
                                  <span class="input-group-addon"><i class="icon-user"></i></span>
                                </div>
                              </div>

                              <div class="col-md-6 but">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Модель: <b>{{fpk.models[client.model].model?fpk.models[client.model].model:'&nbsp;'}}</b> <span class="caret"></span>
                                      </button>
                                      
                                      <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="model in fpk.models_array_show" ng-click="client.model = model.id"><a>{{model.model}}</a></li>
                                        <li class="divider"></li>
                                        <li><a>Неизвестно</a></li>
                                      </ul>
                                    </div>                              
                              </div>


                            </div>

                            <div class="row">
                            
                              <div class="col-md-6">
                                <div class="input-group input-group-sm">
                                  <span class="input-group-addon">@</span>
                                  <input type="text" class="form-control" ng-model="client.email" placeholder="эл.почта">
                                </div>
                              </div>

                              <div class="col-md-6 but top10">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Где авто: <b>{{client.status}}</b> <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="car_stat in fpk.car_status_array" ng-click="client.status = car_stat.title"><a> 
                                        <div class="client_status" style="background:-webkit-gradient(linear, right top, left top, color-stop({{car_stat.procent}}, #2b365a), color-stop({{car_stat.procent}}, #516F8F)) !important;">{{car_stat.title}}</div>
                                        </a></li>
                                      </ul>
                                    </div>                              
                              </div>


                            </div>

                            <div class="row">
                            
                              <div class="col-md-6">
                                <textarea class="client_adress" ng-model="client.adress" msd-elastic placeholder="паспортные данные и адрес" title="паспортные данные и адрес"></textarea>
                              </div>

                              <div class="col-md-6">
                                <div class="input-group input-group-sm vin_group">
                                  <input type="text" class="form-control" ng-model="client.vin" placeholder="Vin-код или номер заказа">
                                  <span class="input-group-addon">Vin</span>
                                </div>                              
                              </div>

                            </div>

                            <div class="row">
                            
                              <div class="col-md-12">
                                <textarea class="client_text" ng-model="client.comment" msd-elastic placeholder="Подробности..."></textarea>
                              </div>

                            </div>

                            <div class="row">
                              <div class="col-md-3">
                                <button class="btn btn-success btn-sm" ng-click="jsClientSave(client)">Сохранить</button>
                              </div>
                              <div class="col-md-3">
                                <a class="pull-right delete_client" ng-click="jsClientDelete(client)">Удалить клиента</a>
                              </a>
                              </div>

                            <div class="row">
                              <div class="col-md-6 but selectmanager">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Менеджер: <b>{{fpk.jsFioShort(fpk.jsFindInArray(fpk.all_managers,"id",client.manager_id).fio)}}</b> <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                          <li ng-click="client.manager_id=manager.id; jsClientSave(client); " ng-repeat="manager in fpk.managers | onlyManager:true"><a><i class="icon-user"></i>{{manager.fio}}</a></li>

                                            <li class="dropdown-submenu"><a>Остальные</a>
                                             <ul class="dropdown-menu">
                                              <li ng-click="client.manager_id=manager.id" ng-repeat="manager in fpk.managers | onlyManager:false"><a>{{manager.fio}}</a></li>
                                             </ul>
                                            </li>

          
                                      </ul>
                                    </div>                              
                              </div>
                            </div>


                            </div>

                          </div>


                          <ul>
                            <li ng-repeat="do in client.do | orderBy: ['date2','id']: true" class="client_do_li" ng-controller="DoCtrl" myindex={{$index}} mydoid="{{do.id}}">
                              <div class="do_line" ng-click="jsEditDo(client, do)" ng-class="{'did':do.checked!='0000-00-00 00:00:00'}">
                                <div class="datemini"  time-now="time_now" date-type="do" ng-model="do.date2" title="{{do.date2}}"></div>
                                <div class="do_type_icon"><img ng-src="/images/do_type/{{fpk.do_types_array[do.type].img}}" width="20px" title="Тип дела: {{do.type}}"></div>

                           <span ng-if="!fpk.jsCanEditDo(client, do)" class="do_lock" title="Вы не можете редактировать этого клиента. Обратитесь к руководителю"><i class="icon-lock"></i></span>

                                <div class="do_text">
                                  {{do.text}} 
                                  <span ng-if="do.host_id!=client.manager_id && do.host_id>0">[Поручил: <i class="icon-user"></i>{{fpk.jsFioShort(fpk.jsFindInArray(fpk.all_managers,"id",do.host_id).fio)}}]</span>
                                  <span ng-if="do.manager_id!=client.manager_id && do.manager_id>0">[Исполнитель: <i class="icon-user"></i>{{fpk.jsFioShort(fpk.jsFindInArray(fpk.all_managers,"id",do.manager_id).fio)}}]</span>
                                  <span ng-if="do.comment" class="do_result"><br>Результат: {{do.comment}}</span>
                                </div>
                              </div>
                              
                              <div ng-if="do._visible == true" jq-show-effect="do._visible == true" jq-options="{type:'slide', duration:150, delay:200, hideImmediately: true}" class="do_edit" style="display:none;">

                                <div>
                                    <div class="row">
                                      <div class="col-md-12">
                                            <button ng-click="jsDoSave(); do._visible=false;" class="do_save">Сохранить</button>
                                            <button ng-click="jsDoDone();jsDoSave();do._visible=false;" class="do_done">{{do.checked!='0000-00-00 00:00:00' && "Снять выполнение" || "Выполнить"}}</button>   

                                            <button class="do_del" ng-click="jsDelDo()">Удалить</button>
                                            <button ng-click="jsDoCancel()" class="do_cancel">Отменить</button>
                                      </div>
                                    </div>

                                    <div class="row">
                                    
                                      <div class="col-md-12">
                                        <div class="input-group input-group-sm">
                                          <span class="input-group-addon">Дело:</span>
                                            <textarea placeholder="Введите описание дела..." class="do_text_input" return-on-blur="do_text" ng-model="do.text" ></textarea> 

                                        </div>
                                      </div>
                                    



                                    </div> <!-- row -->

                                    <div class="row">
                                    
                                      <div class="col-md-8">
                                        <div class="input-group input-group-sm">
                                          <span class="input-group-addon" title="Результат выполнения дела">Результат</span>
                                            <textarea placeholder="Результат выполнения дела..." class="do_comment_input" ng-model="do.comment" ></textarea> 

                                        </div>
                                      </div>
                                    

                                      <div class="col-md-4 do_types_button">
                                            <div class="btn-group">
                                              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                Тип дела: <b>{{do.type}}</b> <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu" role="menu">
                                                <li ng-repeat="do_type in fpk.do_types" ng-click="do.type = do_type.title"><a><img title="{{do_type.title}}" ng-src="images/do_type/{{do_type.img}}">{{do_type.title}}</a></li>
                                              </ul>
                                            </div><br>                         
                                            <a ng-click="jsParseDateTrigger()">
                                              <span ng-if="can_parse_date">Распознавание дат: вкл</span>
                                              <span ng-if="!can_parse_date">Распознавание дат: выкл</span>
                                            </a>

                                      </div>


                                    </div> <!-- row -->

                                    <div class="row">
                                    
                                      <div class="col-md-8">
                                        <div class="input-group input-group-sm">
                                          <span class="input-group-addon">Дата:</span>
                                          <input date-time-entry="do.date2" class="do_date2"></input>
                                        </div>
                                        <div class="fast_time">
                                          <span>
                                            Через: 
                                            <a ng-click="jsAddHours(0.5)">30 мин.,</a> 
                                            <a ng-click="jsAddHours(1)">1 час,</a> 
                                            <a ng-click="jsAddHours(2)">2 часа,</a>
                                            <a ng-click="jsAddHours(3)">3 часа,</a>
                                            <a ng-click="jsAddHours(24)">1 день,</a>
                                            <a ng-click="jsAddHours(48)">2 дня,</a>
                                            <a ng-click="jsAddHours(72)">3 дня,</a>
                                            <a ng-click="jsAddHours(168)">1 нед.,</a>
                                            <a ng-click="jsAddHours(336)">2 нед.,</a>
                                            <a ng-click="jsAddHours(744)">1 месяц.</a>

                                          </span>
                                        </div>
                                      </div>
                                    

                                      <div class="col-md-4 do_types_button">
                                            <div class="btn-group">
                                              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                Исполнитель: <b>{{fpk.jsFioShort(fpk.jsFindInArray(fpk.all_managers,"id",do.manager_id).fio)}}</b> <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu pull-right" role="menu">
                                                  <li  ng-click="do.manager_id = manager.id" ng-repeat="manager in fpk.managers | onlyManager:true"><a><i class="icon-user"></i>{{manager.fio}}</a></li>

                                                    <li class="dropdown-submenu"><a>Остальные</a>
                                                     <ul class="dropdown-menu">
                                                      <li ng-click="do.manager_id = manager.id" ng-repeat="manager in fpk.managers | onlyManager:false"><a>{{manager.fio}}</a></li>
                                                     </ul>
                                                    </li>

                  
                                              </ul>
                                            </div>                              
                                      </div>


                                    </div> <!-- row -->

                                </div>

                                <div>
                                                                        
                                </div>

                              </div>

                            </div>
                            </li>
                          </ul>
                        </div>


            </li>
        </ol>