<div id="dover">

					
	<table width="100%">
	<tr>
		<td>
			<img ng-src="images/logos/{{br=fpk.brands[client.mydo.brand]; br.logo}}"><br>
			<h5>{{br.diller_adress}}</h5>
			{{client.mydo.manager_fio}}<br>
			Тел.: {{client.mydo.manager_phone}}
		</td>
		<td>
			<img src="images/logo_reginas_big.png" class="pull-right">
		</td>
	</tr>
	</table>
						 
<table>
<tbody>
<tr>
	<td>
	</td>
</tr>
<tr>
	<td colspan="6">
		<h3><center>ДОГОВОР КУПЛИ ПРОДАЖИ АВТОМОБИЛЯ</center></h3>
	</td>
</tr>
<tr>
	<td>
		г. Челябинск
	</td>
	<td colspan="5">
		<span class="pull-right">№ АСТ0002738 от {{client.mydo.dg}} г.</span>
	</td>
</tr>
<tr>
	<td colspan="6">
		ООО "Истен Моторс", именуемое в дальнейшем
  "ПРОДАВЕЦ", в лице директора Рыбакова Василия Петровича,
  действующего на основании устава, с одной стороны, и, {{client.mydo.fio}}, именуемый(ая) в дальнейшем
  "ПОКУПАТЕЛЬ", с другой стороны, заключили настоящий договор о
  нижеследующем:
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>1. Предмет договора</strong>
	</td>
</tr>
<tr>
	<td colspan="6">
		1.1. ПРОДАВЕЦ передает, а ПОКУПАТЕЛЬ принимает в
  собственность и оплачивает новый автомобиль марки {{client.mydo.model_name}}
  VIN {{client.mydo.vin}}, год выпуска {{client.mydo.car_year}}, цвет {{client.mydo.car_color}}, именуемый в дальнейшем «Товар», следующей комплектации:
  {{client.mydo.code}}. 
		<br>
  Иная информация об
  автомобиле____________________________________________________ ______________________________________________________________________.
	</td>
</tr>
<tr>
	<td colspan="6">
		1.2. Право собственности на Товар переходит к
  ПОКУПАТЕЛЮ в момент передачи ему Товара по акту приема-передачи.
	</td>
</tr>
<tr>
	<td colspan="6">
		1.3. ПРОДАВЕЦ предупреждает ПОКУПАТЕЛЯ о том, что у
  приобретаемого им автомобиля имеются следующие особенности: при эксплуатации
  автомобиля возникают посторонние шумы, щелчки, скрипы, вибрации, и т.д.,
  (включая, но не ограничиваясь), сопровождающие нормальную работу агрегатов и
  систем автомобиля, не влияющие на качество, характеристики, работоспособность
  автомобиля, его ходовые качества и безопасность его эксплуатации; а также
  незначительное просачивание масел, технических жидкостей или смазок сквозь
  прокладки и сальники, не влияющее на нормальный их расход; не различимые без
  применения специальных методов недостатки элементов отделки, лакокрасочного
  (далее ЛКП) и гальванического покрытия.
		<br>
  Толщина ЛКП на разных поверхностях автомобиля колеблется от 67 мМ до 300 мМ;
  на некоторых элементах автомобиля ЛКП наносится заводом-изготовителем двумя
  слоями.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>2. Условия и срок передачи Товара</strong>
	</td>
</tr>
<tr>
	<td colspan="6">
		2.1. Товар передается ПОКУПАТЕЛЮ на складе ПРОДАВЦА
  по адресу: 454008, г.Челябинск, Свердловский тракт, 5-р и вывозится
  ПОКУПАТЕЛЕМ самостоятельно и за свой счет.
	</td>
</tr>
<tr>
	<td colspan="6">
		2.2. В связи с повышенным покупательским спросом на
  Товар по сравнению с планом поставок Товара ПРОДАВЦУ стороны согласовывают
  ориентировочный срок доставки Товара на склад ПРОДАВЦА: {{client.mydo.car_dostavka}}.
	</td>
</tr>
<tr>
	<td colspan="6">
		Ориентировочный срок доставки Товара на склад,
  установленный настоящим пунктом договора, может быть не выдержан ПРОДАВЦОМ по
  независящим от него причинам.
		<br>
  Если в указанный в настоящем пункте договора ориентировочный срок доставка
  Товара на склад ПРОДАВЦА не осуществлена, то по соглашению сторон срок
  доставки Товара на склад ПРОДАВЦА может быть продлен, или настоящий договор
  расторгнут. При расторжении договора внесенная ПОКУПАТЕЛЕМ предоплата за
  Товар возвращается ПРОДАВЦОМ ПОКУПАТЕЛЮ в течение пяти рабочих дней со дня
  расторжения договора, если иной срок не определен соглашением сторон.
		<br>
  Настоящий договор может быть также расторгнут сторонами по основаниям и в
  порядке, установленном Гражданским кодексом РФ.
	</td>
</tr>
<tr>
	<td colspan="6">
		Срок передачи Товара ПРОДАВЦОМ ПОКУПАТЕЛЮ – в
  течение 5 (пяти) рабочих дней после полной оплаты Товара ПОКУПАТЕЛЕМ, но не
  ранее пяти рабочих дней с даты доставки Товара на склад ПРОДАВЦА.
		<br>
  Допускается досрочная передача Товара.
	</td>
</tr>
<tr>
	<td colspan="6">
		2.3. О поступлении Товара на склад Продавца ПРОДАВЕЦ
  устно уведомляет ПОКУПАТЕЛЯ SMS-сообщением по следующему телефону:
  89085841870.
	</td>
</tr>
<tr>
	<td colspan="6">
		2.4. Товар передается ПРОДАВЦОМ ПОКУПАТЕЛЮ на
  основании товарной накладной, акта приема-передачи.
	</td>
</tr>
<tr>
	<td colspan="6">
		2.5. Товар передается ПРОДАВЦОМ ПОКУПАТЕЛЮ при предъявлении
  им паспорта или представителю ПОКУПАТЕЛЯ на основании нотариально оформленной
  доверенности на получение Товара.
	</td>
</tr>
<tr>
	<td colspan="6">
		2.6. Товар передается ПОКУПАТЕЛЮ со следующими
  документами: товарно-транспортная накладная или акт приема-передачи, Паспорт
  технического средства (ПТС), Сервисная (гарантийная) книжка, Руководство по
  эксплуатации, договор купли-продажи транспортного средства для регистрации
  Товара в органах ГИБДД (ГАИ).
	</td>
</tr>
<tr>
	<td colspan="6">
		2.7.При приемке автомобиля ПОКУПАТЕЛЬ обязан
  осуществить его проверку и письменно сообщить ПРОДАВЦУ о замеченных в ходе
  приемки недостатках.
	</td>
</tr>
<tr>
	<td colspan="6">
		2.8. Право собственности на автомобиль возникает у
  ПОКУПАТЕЛЯ в момент передачи его по акту приема-передачи.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>3. Порядок расчетов</strong>
	</td>
</tr>
<tr>
	<td colspan="6">
		3.1.Ориентировочная Цена на Товар на момент
  заключения настоящего договора составляет {{client.mydo.car_cost_itog}} рублей, в том числе НДС 18%. 
		<br>
  В общую цену Товара включен стоимость самого товара, все налоговые и
  таможенные платежи, сборы и иные платежи, связанные с ввозом Товара на
  территорию Российской Федерации, выпуском его в свободное обращение (для
  автомобилей, ввезенных на территорию РФ) и реализацией Товара ПОКУПАТЕЛЮ, утилизационный
  сбор, а также стоимость транспортных услуг, связанных с доставкой Товара до
  склада ПРОДАВЦА, и затраты по хранению на складе ПРОДАВЦА (до срока
  определенного настоящим Договором). В общую цену Товара не включены суммы
  комиссий, взимаемых кредитными организациями с осуществляемого ПОКУПАТЕЛЕМ
  платежа. 
		<br>
  Оплата Товара производится в рублях Российской Федерации
		<br>
  Моментом оплаты полной стоимости Товара считается дата полного поступления
  денежных средств в оплату Товара на расчетный счет или кассу ПРОДАВЦА.
	</td>
</tr>
<tr>
	<td colspan="6">
		3.2. Оплата Товара производится ПОКУПАТЕЛЕМ
  безналичным расчетом (платежными поручениями на расчетный счет ПРОДАВЦА),
  либо наличными денежными средствами в кассу ПРОДАВЦА, либо иными способами,
  незапрещенными действующим законодательством Российской Федерации.
	</td>
</tr>
<tr>
	<td colspan="6">
		Оплата Товара за ПОКУПАТЕЛЯ может производиться
  третьими лицами, включая банковские или иные организации, с которыми
  ПОКУПАТЕЛЕМ заключены кредитные договоры (договоры займа) на получение
  заемных средств для оплаты Товара.
	</td>
</tr>
<tr>
	<td colspan="6">
		3.3. ПОКУПАТЕЛЬ оплачивает Товар в следующем порядке
  и сроки:
	</td>
</tr>
<tr>
	<td colspan="6">
		- предоплата в сумме ___________ рублей оплачивается ПОКУПАТЕЛЕМ одновременно с
  подписанием настоящего договора;
	</td>
</tr>
<tr>
	<td colspan="6">
		- остальная стоимость Товара оплачивается
  ПОКУПАТЕЛЕМ в течение 5 (пяти) банковских дней после получения ПОКУПАТЕЛЕМ
  SMS - уведомления ПРОДАВЦА о поступлении Товара на склад ПРОДАВЦА.
		<br>
  С момента заключения настоящего Договора и до срока, указанного в договоре
  для полной оплаты автомобиля ПОКУПАТЕЛЕМ, выбранный автомобиль бронируется за
  ПОКУПАТЕЛЕМ, после истечения срока для оплаты, если ПОКУПАТЕЛЬ не оплатил
  стоимость Товара, бронирование товара за ПОКУПАТЕЛЕМ прекращается.
	</td>
</tr>
<tr>
	<td colspan="6">
		3.4. . Цена на Товар, который на момент заключения
  договора находится на складе ПРОДАВЦА, не подлежит изменению после подписания
  сторонами настоящего договора, кроме случаев увеличения до момента полного
  исполнения Сторонами условий настоящего Договора ставок существующих
  платежей, в частности налоговых, таможенных либо введения новых платежей, в
  частности налоговых, таможенных, транспортных, а также увеличения
  заводом-изготовителем или Российским дистрибьютором завода-изготовителя цены
  продажи Товара; а также просрочки оплаты товара ПОКУПАТЕЛЕМ, если за период
  просрочки изменилась цена продаваемого автомобиля.
		<br>
  Цена на Товар, отсутствующий на складе ПРОДАВЦА в момент заключения договора,
  может быть изменена по основаниям, указанным в абзаце первом настоящего
  пункта договора.
	</td>
</tr>
<tr>
	<td colspan="6">
		3.5.При увеличении цены Товара Покупатель вправе
  отказаться от приобретения Товара и расторгнуть настоящий договор в
  одностороннем порядке. В этом случае Продавец обязан вернуть Покупателю
  фактически уплаченные им в российских рублях денежные средства за Товар в
  течение 10 (десяти) банковских дней.
	</td>
</tr>
<tr>
	<td colspan="6">
		При необходимости доставки запасных частей и
  комплектующих изделий от российского дистрибьютора или завода-изготовителя
  срок устранения неисправности Товара не может превышать сорока пяти дней,
  исчисляемых с даты выявления недостатка на диагностическом оборудовании
  ПРОДАВЦА при условии, что Товар предоставлен ПОКУПАТЕЛЕМ для устранения
  неисправности в срок, установленный ПРОДАВЦОМ.
		<br>
  При необходимости получения для ремонта Товара редких оригинальных запасных
  частей на автомобиль от завода-изготовителя ПРОДАВЕЦ имеет право продлить
  срок устранения недостатков Товара на срок, необходимый для доставки таких запасных
  частей, заключив письменное соглашение с ПОКУПАТЕЛЕМ.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>4. Качество Товара и гарантийные обязательства</strong>
	</td>
</tr>
<tr>
	<td colspan="6">
		4.1. Качество Товара должно соответствовать
  условиям, изложенным в Одобрении типа транспортного средства и условиям,
  изложенным в Руководстве по эксплуатации.
		<br>
  ПРОДАВЕЦ не подтверждает наличие в продаваемом Товаре параметров, не
  изложенных в документах, указанных в настоящем пункте договора, даже если
  такие параметры указаны на различных сайтах в сети Интернет.
	</td>
</tr>
<tr>
	<td colspan="6">
		4.2. На Товар, передаваемый ПОКУПАТЕЛЮ в рамках
  настоящего Договора, устанавливается срок гарантии и условия гарантии на
  Товар, его отдельные комплектующие элементы, определенные в сервисной
  (гарантийной) книжке, выдаваемой Покупателю при передаче Товара, которая
  является неотъемлемой частью настоящего договора.
	</td>
</tr>
<tr>
	<td colspan="6">
		Срок гарантии исчисляется с даты передачи Товара
  ПОКУПАТЕЛЮ, которая указывается в регистрационной карточке Сервисной
  (гарантийной) книжки. Гарантийное обслуживание не осуществляется при
  отсутствии в Сервисной книжке штампа о продаже и подписи уполномоченного
  представителя ПРОДАВЦА.
	</td>
</tr>
<tr>
	<td colspan="6">
		4.3. На отдельные комплектующие Товара установлены
  сокращенные сроки гарантии, а на отдельные быстроизнашивающиеся комплектующие
  гарантийные сроки не установлены. Перечень комплектующих, на которые не
  предоставлены сроки гарантии, или предоставлены сокращенные сроки гарантии,
  содержится в сервисной (гарантийной) книжке, которая является неотъемлемой
  частью настоящего договора.
	</td>
</tr>
<tr>
	<td colspan="6">
		Условия предоставления гарантии
  заводом-изготовителем изложены в сервисной (гарантийной) книжке.
	</td>
</tr>
<tr>
	<td colspan="6">
		Гарантия завода-изготовителя распространяется только
  на недостатки Товара, которые возникли по вине завода-изготовителя из-за
  нарушения технологии производства или применения некачественных материалов.
	</td>
</tr>
<tr>
	<td colspan="6">
		Конструктивные особенности Товара не являются
  недостатками Товара.
	</td>
</tr>
<tr>
	<td colspan="6">
		ПОКУПАТЕЛЬ ознакомлен с условиями предоставления
  гарантии завода-изготовителя до подписания настоящего договора.
	</td>
</tr>
<tr>
	<td colspan="6">
		4.4. Недостатки, возникшие в Товаре в течение
  гарантийного срока по вине завода-изготовителя, подлежат безвозмездному
  устранению ПРОДАВЦОМ либо иным официальным дилером этой марки Товара в РФ в
  соответствии с Руководством по ремонту в течение 45 (сорока пяти) дней с даты
  предъявления владельцем автомобиля соответствующего письменного требования и
  передачи Товара ПРОДАВЦУ либо иному официальному дилеру для выполнения работ.
		<br>
  При необходимости получения для ремонта Товара редких оригинальных запасных
  частей на автомобиль от завода-изготовителя стороны могут продлить срок
  устранения недостатков Товара на срок, необходимый для доставки таких
  запасных частей, заключив письменное соглашение.
		<br>
  Гарантийное обслуживание Товара осуществляется только на сервисных станциях
  официальных дилеров автомобилей этой марки в РФ. 
		<br>
  ПРОДАВЕЦ не гарантирует ПОКУПАТЕЛЮ возможность проведения гарантийного
  обслуживания Товара за пределами территории Российской Федерации.
		<br>
  Для осуществления гарантийного обслуживания ПОКУПАТЕЛЬ представляет
  принадлежащий ему Товар на территорию ближайшего официального дилера этой
  марки Товара в РФ. Выезд представителя ПРОДАВЦА либо иного официального
  дилера на место нахождения автомобиля (вне территории официального дилера) не
  осуществляется.
	</td>
</tr>
<tr>
	<td colspan="6">
		4.5.
  ПОКУПАТЕЛЬ вправе предъявить ПРОДАВЦУ требования, связанные с недостатками комплектующего
  изделия или составной части Товара, только при одновременно наличии следующих
  условий:
		<br>
  -заводом-изготовителем указанное комплектующее изделие не включено в перечень
  комплектующих изделий, на которые не распространяется гарантия завода-изготовителя;
		<br>
  -если такие недостатки выявлены в течение гарантийного срока на такое
  комплектующее изделие или составную часть Товара;
		<br>
  - если информация о недостатках проданного товара была не оговорена ПРОДАВЦОМ
  при продаже Товара ПОКУПАТЕЛЮ.
	</td>
</tr>
<tr>
	<td colspan="6">
		4.6. При устранении недостатков Товара посредством
  замены его комплектующих или составной части Товара, на которые установлены
  отдельные гарантийные сроки, общий гарантийный срок на Товар не изменяется.
	</td>
</tr>
<tr>
	<td colspan="6">
		Истечение гарантийного срока на Товар означает
  прекращение гарантийных сроков на комплектующие изделия и составные части
  Товара, за исключение случаев, прямо предусмотренных в Сервисной книжке.
	</td>
</tr>
<tr>
	<td colspan="6">
		4.7.
  Текущий ремонт Товара (при возникновении в нем дефектов эксплуатации) и его
  техническое обслуживание могут быть осуществлены в любом дилерском центре,
  перечень которых указан в Сервисной (гарантийной) книжке на Товар, за счет
  средств ПОКУПАТЕЛЯ.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>5. Обязанности сторон</strong>
	</td>
</tr>
<tr>
	<td colspan="4">
		5.1.
  ПРОДАВЕЦ обязан:
	</td>
</tr>
<tr>
	<td colspan="6">
		5.1.1.Поставить
  Товар ПОКУПАТЕЛЮ в срок, установленный в настоящем договоре;
	</td>
</tr>
<tr>
	<td colspan="6">
		5.1.2.Передать Покупателю Товар после полной оплаты
  его стоимости по Акту приемки-передачи;
	</td>
</tr>
<tr>
	<td colspan="6">
		5.1.3.Обеспечить сохранность Товара до момента
  передачи его ПОКУПАТЕЛЮ.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.1.4.Произвести предпродажную подготовку Товара;
	</td>
</tr>
<tr>
	<td colspan="6">
		5.1.5. Безвозмездно устранять возникшие по вине
  завода-изготовителя и/или ПРОДАВЦА и обнаруженные ПОКУПАТЕЛЕМ в период
  гарантийного срока недостатки в работе Товара.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2. ПОКУПАТЕЛЬ обязан:
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2.1. Оплатить Товар и вывезти Товар со склада
  ПРОДАВЦА в сроки, установленные в настоящем договоре.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2.2. Обеспечить эксплуатацию Товара в соответствии
  с передаваемым ПОКУПАТЕЛЮ техническим руководством по эксплуатации.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2.3. Если после поступления Товара на склад
  ПРОДАВЦА ПОКУПАТЕЛЬ не выполнил своих обязательств, предусмотренных в
  настоящем договоре, договор расторгается ПРОДАВЦОМ в одностороннем порядке, а
  денежные средства, уплаченные ПОКУПАТЕЛЕМ за Товар, возвращаются ПОКУПАТЕЛЮ
  согласно п. 3.5 настоящего Договора.
	</td>
</tr>
<tr>
	<td colspan="6">
		ПРОДАВЕЦ обязан известить ПОКУПАТЕЛЯ письменно об
  одностороннем расторжении договора за 15-календарных дней до предполагаемой
  даты расторжения договора.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2.4. Проходить ТО Товара только в дилерских
  центрах завода-изготовителя, указанных в Сервисной книжке.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2.5. Не эксплуатировать Товар при наличии в нем
  неисправностей.
	</td>
</tr>
<tr>
	<td colspan="6">
		ПОКУПАТЕЛЬ обязан немедленно уведомить ПРОДАВЦА о
  любой неполадке в работе Товара в период установленного на соответствующее
  комплектующее изделие к нему гарантийного срока и предоставить Товар ПРОДАВЦУ
  или иному дилерскому центру завода-изготовителя Товара для осмотра и
  диагностирования причин возникновения неисправностей, и устранения указанных
  неисправностей.
		<br>
  Перечень (описание) неисправностей, при которых не допускается доставка
  Товара своим ходом в место нахождения дилера, приведен в Сервисной
  (гарантийной) книжке, в этом случае товар подлежит транспортировке на
  эвакуаторе.
		<br>
  ПРОДАВЕЦ информирует ПОКУПАТЕЛЯ о возможности использования им для доставки
  товара в место нахождения дилера при возникновении в Товаре неисправностей,
  запрещающих его передвижение своим ходом, эвакуатора
  ______________________________________________, тел. ___________________.
	</td>
</tr>
<tr>
	<td colspan="6">
		Время доставки Товара ПОКУПАТЕЛЕМ ПРОДАВЦУ для
  осмотра и производства ремонта, в том числе, гарантийного, согласовывается
  между ПРОДАВЦОМ и ПОКУПАТЕЛЕМ по телефону или письменно.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2.6. Внимательно изучить перед началом
  эксплуатации автомобиля прилагаемое к нему техническое руководство по
  эксплуатации и условия гарантии, изложенные в сервисной книжке на автомобиль.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.2.7. ПОКУПАТЕЛЬ имеет право не получать у ПРОДАВЦА
  Товар при наличии в нем видимых недостатков (качество, комплектность
  автомобиля и т.д.).
	</td>
</tr>
<tr>
	<td colspan="6">
		Все видимые недостатки Товара, обнаруженные
  ПОКУПАТЕЛЕМ при приемке Товара, отмечаются ПОКУПАТЕЛЕМ в акте
  приема-передачи.
	</td>
</tr>
<tr>
	<td colspan="6">
		Покупатель может потребовать от ПРОДАВЦА устранения
  видимых недостатков полученного Товара и получить Товар после устранения
  недостатков в согласованный сторонами срок, если указанные недостатки не были
  оговорены ПРОДАВЦОМ при продаже товара.
	</td>
</tr>
<tr>
	<td colspan="6">
		Если ПОКУПАТЕЛЬ получил Товар с видимыми
  повреждениями, то указанные повреждения устраняются безвозмездно ПРОДАВЦОМ
  при прохождении Товаром ТО1, о чем ПОКУПАТЕЛЬ должен уведомить ПРОДАВЦА.
	</td>
</tr>
<tr>
	<td colspan="6">
		По желанию ПОКУПАТЕЛЯ, получившего Товар с видимыми
  следами повреждения, до времени прохождения им ТО1, затраты ПОКУПАТЕЛЯ на
  доставку Товара ПРОДАВЦУ для устранения выявленных при приемке Товара
  неисправностей, ПРОДАВЦОМ не компенсируются.
	</td>
</tr>
<tr>
	<td colspan="6">
		5.3. ПРОДАВЕЦ предупреждает ПОКУПАТЕЛЯ о том, что
  заводом-изготовителем запрещено вносить изменения в конструкцию Товара. 
		<br>
  При желании ПОКУПАТЕЛЯ установить на Товар дополнительное оборудование
  ПРОДАВЕЦ предупреждает, что при установке на Товар дополнительного
  оборудования, не рекомендованного заводом-изготовителем, параметры работы
  Товара, изложенные в Одобрении типа транспортного средства и/или Руководстве
  по эксплуатации могут ухудшиться.
	</td>
</tr>
<tr>
	<td colspan="6">
		ПОКУПАТЕЛЬ соглашается с тем, что завод -
  изготовитель оставляет за собой право произвести изменения комплектации
  ПОКУПАТЕЛЬ соглашается с тем, что завод - изготовитель оставляет за собой
  право произвести изменения комплектации Товара, а также произвести
  конструктивные изменения Товара без предварительного уведомления ПРОДАВЦОМ
  ПОКУПАТЕЛЯ, а также без получения ПРОДАВЦОМ согласия ПОКУПАТЕЛЯ, при этом
  ПРОДАВЕЦ вправе по своему усмотрению изменить либо не изменять стоимость
  Товара. В случае несогласия ПОКУПАТЕЛЯ с новой комплектацией и/либо ценой
  Товара, ПОКУПАТЕЛЬ вправе отказаться от приобретения Товара и расторгнуть
  настоящий Договор в одностороннем порядке. В этом случае ПРОДАВЕЦ обязан
  вернуть ПОКУПАТЕЛЮ полученные от него денежные средства с начислением на них
  процентов в размере ставки рефинансирования Банка России за весь период с
  момента их получения до возврата ПОКУПАТЕЛЮ.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>6. Имущественная ответственность</strong>
	</td>
</tr>
<tr>
	<td colspan="6">
		6.1. За просрочку поставки Товара или передачи
  Товара ПОКУПАТЕЛЮ при условии соблюдения ПОКУПАТЕЛЕМ сроков оплаты Товара
  ПРОДАВЕЦ несет ответственность перед ПОКУПАТЕЛЕМ в виде пени в размере 0,5%
  от стоимости Товара, уплаченной ПОКУПАТЕЛЕМ ПРОДАВЦУ на момент истечения
  установленного настоящим договором срока поставки (передачи) Товара
  ПОКУПАТЕЛЮ, за каждый день просрочки, но не более суммы произведенной
  ПОКУПАТЕЛЕМ предоплаты за Товар.
	</td>
</tr>
<tr>
	<td colspan="6">
		6.2. За просрочку оплаты Товара ПОКУПАТЕЛЬ несет
  ответственность в виде пени в размере 0,5% от просроченной суммы за каждый
  день просрочки.
	</td>
</tr>
<tr>
	<td colspan="6">
		6.3. За поставку некачественного Товара ПРОДАВЕЦ
  несет ответственность перед ПОКУПАТЕЛЕМ в соответствии с действующим
  законодательством.
	</td>
</tr>
<tr>
	<td colspan="6">
		6.4. При нарушении срока получения Товара у ПРОДАВЦА
  ПОКУПАТЕЛЬ оплачивает ПРОДАВЦУ стоимость хранения Товара из расчета 250
  рублей за каждые сутки хранения.
	</td>
</tr>
<tr>
	<td colspan="6">
		Срок оплаты стоимости хранения Товара – день
  получения Товара ПОКУПАТЕЛЕМ у ПРОДАВЦА.
	</td>
</tr>
<tr>
	<td colspan="6">
		6.5. Стороны освобождаются от ответственности за
  частичное или полное исполнение обязательства по настоящему договору, если
  это неисполнение явилось следствием обстоятельств непреодолимой силы или
  чрезвычайных обстоятельств, а именно: стихийных бедствий, пожара, войны и
  военных действий, акты или действия государственных органов России и страны
  завода-изготовителя или стран, через которые производится транспортировка
  Товара в Россию, о чем заинтересованная сторона обязана уведомить другую
  сторону договора не позднее семи дней с момента наступления и прекращения
  вышеуказанных событий в письменной форме. Наличие обстоятельств непреодолимой
  силы или чрезвычайных обстоятельств подтверждается справками или иными
  официальными документами, которыми бесспорно устанавливаются такие
  обстоятельства.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>7. Использование и передача персональных
  данных
		</strong>
	</td>
</tr>
<tr>
	<td colspan="6">
		7.1.В целях: получения и исследования статистических
  данных об объемах продаж и качестве услуг, оказываемых Продавцом при продаже
  Товара; изучения конъюнктуры рынка Товара, запасных частей к нему и
  аксессуаров; постоянного совершенствования уровня предоставляемых Продавцом
  (импортером Товара «» (адрес: , и заводом-изготовителем ООО "Хендэ Мотор
  СНГ"(123317, Москва г, Тестовская, дом №10) услуг; продвижения товаров и
  услуг Продавца, импортера, завода-изготовителя на рынке путем осуществления
  прямых контактов с Покупателем и иными потребителями - Продавец (импортер и
  завод-изготовитель) вправе собирать, систематизировать, анализировать,
  использовать, обрабатывать и хранить персональные данные о Покупателе путем
  ведения баз данных автоматизированным, механическим, ручным способами, а
  Покупатель подтверждает свое согласие на предоставление Продавцу (импортеру и
  заводу-изготовителю своих персональных данных, а именно: информация о
  приобретаемом товаре, запасных частях, аксессуарах, оказываемых услугах и
  пр.; персональные данные Покупателя, содержащиеся в реквизитах настоящего
  Договора (фамилия, имя, отчество, дата и место рождения, адрес места
  жительства, контактные данные), а также данные Покупателя, которые стали
  известны и/или станут известными Продавцу в ходе исполнения настоящего
  Договора (семейное, социальное, имущественное положение, образование,
  профессия, иная информация); иная общедоступная информация о Покупателе.
	</td>
</tr>
<tr>
	<td colspan="6">
		Продавец (импортер и завод-изготовитель) гарантирует
  обработку и использование информации, указанной в п. 7.1. настоящего Договора
  (далее – Персональная информация), в соответствии с законодательством РФ о
  защите персональных данных в целях, поименованных в п. 7.1. настоящего
  договора. Подписание Покупателем настоящего договора признается Сторонами
  письменным согласием Покупателя, данным согласно ст. 9 Закона № 152-ФЗ от
  27.07.06 г. Покупатель предоставляет свое согласие на обработку его
  персональных данных указанным операторам указанных способами на срок до
  момента прекращения деятельности операторов согласно законодательству РФ.
		<br>
  В период действия настоящего договора Продавец (импортер и
  завод-изготовитель) обязан информировать Покупателя о предлагаемых Продавцом
  (импортером и заводом-изготовителем) товарах, запасных частях и аксессуарах,
  оказываемых услугах и пр., Продавец (импортер и завод-изготовитель) также
  после продажи товара (оказания услуг, выполнения работ) обязан запрашивать
  мнение Покупателя о качестве оказанных услуг посредством письменного опроса
  Покупателя либо иными способами, определяемыми Продавцом (импортером и
  заводом-изготовителем) самостоятельно.
		<br>
  По требованию Покупателя в период действия настоящего Договора Продавец в
  тридцатидневный срок с даты получения письменного запроса от Покупателя
  должен предоставить Покупателю данные о наличии либо отсутствии у Продавца
  персональной информации о Покупателе и условиях ее использования».
	</td>
</tr>
<tr>
	<td colspan="6">
		7.2. Продавец (импортер, завод-изготовитель)
  обязуется использовать персональные данные, полученные от Покупателя,
  исключительно для целей, связанных с исполнением настоящего договора, для
  предоставления Покупателю информации и предлагаемых Продавцом товарах и
  услугах, а также для проведения исследования рынка и опросов потребителей,
  направленных на дальнейшее улучшение качества предлагаемых Продавцом товаров
  и услуг.
		<br>
  Персональные данные, полученные Продавцом (импортером, заводом-изготовителем)
  , хранятся в соответствии с требованиями законодательства на условиях
  конфиденциальности.
		<br>
  Покупатель выражает свое безусловное согласие без ограничения срока на
  обработку, хранение, использование в иной форме Продавцом информации,
  относящейся к персональным данным Покупателя, которая предоставлена или может
  быть предоставлена Покупателем Продавцу при заключении и исполнении
  настоящего договора, в том числе, на передачу указанной выше информации
  российскому дистрибьютору завода-изготовителя; организации, осуществляющей
  сборку Товара аналогичной марки на территории РФ для целей предоставления
  Покупателю дополнительной информации о Товаре и его эксплуатации; информации
  о товарах и услугах, которые могут потенциально предоставить интерес для
  Покупателя; сбора статистической информации и проведения маркетинговых
  исследований; доставки заказанных Покупателем товаров и предоставления услуг.
		<br>
  Продавец имеет право передать последующим владельцам Товара хранящуюся у него
  информацию о Товаре: видах произведенного ремонта, сроках проведенного
  ремонта.
	</td>
</tr>
<tr>
	<td colspan="6">
		7.3. ПРКУПАТЕЛЬ согласен на извещение его ПРОДАВЦОМ
  по всем вопросам, связанным с исполнением настоящего договора, включая
  уведомления об окончании срока ремонта автомобиля, SMS-сообщением на его
  телефонный номер {{client.mydo.phone1}}, что считается надлежащим уведомлением
  ПОКУПАТЕЛЯ со стороны ПРОДАВЦА.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>8. Прочие условия</strong>
	</td>
</tr>
<tr>
	<td colspan="6">
		8.1. При исполнении настоящего договора, в том числе
  и в остальном, не предусмотренном настоящим Договором, стороны
  руководствуются действующим законодательством РФ.
	</td>
</tr>
<tr>
	<td colspan="6">
		8.2. Изменения, дополнения к договору, производятся
  по соглашению сторон и оформляются в письменной форме.
	</td>
</tr>
<tr>
	<td colspan="6">
		8.3. ПОКУПАТЕЛЬ перед заключением настоящего
  договора получил от ПРОДАВЦА полную информацию о товаре посредством
  ознакомления с Прайсами и буклетами, размещенными в торговом зале,
  Руководством по технической эксплуатации автомобиля, Сервисной книжке, в
  которой изложены гарантийные обязательства завода-изготовителя, а также
  консультаций с ПРОДАВЦОМ, в связи с чем ПОКУПАТЕЛЕМ самостоятельно и
  сознательно произведен выбор марки и модели покупаемого Товара.
	</td>
</tr>
<tr>
	<td colspan="6">
		8.4. Настоящий договор составлен в двух экземплярах,
  каждый из которых имеет одинаковую силу, по одному экземпляру – для каждой из
  сторон договора.
	</td>
</tr>
<tr>
	<td colspan="6">
		8.5. Договор купли-продажи, выдаваемый ПОКУПАТЕЛЮ
  ПРОДАВЦОМ и подписанный ими в момент передачи ПОКУПАТЕЛЮ Товара, заменяет
  собой справку-счет и используется ПОКУПАТЕЛЕМ исключительно для регистрации
  Товара в органах ГИБДД и ГАИ.
	</td>
</tr>
<tr>
	<td colspan="6">
		Отношения сторон при купле-продаже Товара, его
  исполнении сторонами, гарантиях на Товар и ответственности сторон
  регулируются настоящим договором.
	</td>
</tr>
<tr>
	<td colspan="6">
		8.6. В связи с тем, что приобретаемый Покупателем
  автомобиль пользуется повышенным спросом покупателей, договоры купли-продажи
  автомобиля заключаются с покупателями в порядке списка очередности на
  приобретение автомобиля, в связи с чем уступка прав и обязанностей покупателя
  по договору третьим лицам не допускается без предварительного письменного
  согласия Продавца.
	</td>
</tr>
<tr>
	<td colspan="6">
		<strong>9. Адреса и реквизиты сторон</strong>
	</td>
</tr>
<tr>
	<td>
	</td>
</tr>
<tr>
	<td colspan="3">
		ПРОДАВЕЦ:
	</td>
	<td colspan="3">
		ПОКУПАТЕЛЬ:
	</td>
</tr>
<tr>
	<td colspan="3">
		ООО
  "Истен Моторс", 
		<br>
  454008, г.Челябинск, Свердловский тракт, 5-р, 
		<br>
  ИНН:7448127115, КПП:744801001, 
		<br>
  Отделение № 8597 ОАО Сбербанк России, 
		<br>
  р/с:40702810572000027951, 
		<br>
  к/с:30101810700000000602, 
		<br>
  БИК:047501602
	</td>
	<td colspan="3">
		{{client.mydo.fio}}, <br>
  {{client.mydo.client_adress}}
		<br>
  Паспорт серия {{client.mydo.pas1}} № {{client.mydo.pas2}}
		<br>
  выдан: {{client.mydo.pas5}} {{client.mydo.pas4}}
	</td>


</tr>
<tr>
	<td colspan="4">
	</td>
	<td>
	</td>
</tr>
<tr>
	<td colspan="3">
		_________________________
	</td>
	<td colspan="3">
		/_________________/____________________________
	</td>
</tr>
<tr>
	<td colspan="3">
		Подпись
	</td>
	<td>
		Подпись
	</td>
	<td colspan="3">
		 Фамилия и инициалы
	</td>
</tr>
<tr>
	<td>
		Договор
  составил:
	</td>
</tr>
<tr>
	<td colspan="3">
		__________________________
	</td>
	<td colspan="3">
	</td>
</tr>
<tr>
	<td>
		{{client.mydo.manager_fio}} {{client.mydo.manager_phone}}
	</td>
</tr>
</tbody>
</table>



</div>