<div id="panel_top">
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand"><img src="images/logo-mini.png" width="50px" height="18px">Регинас</a>

  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown" style="display:none;">
        <a class="dropdown-toggle" data-toggle="dropdown">Рейтинг <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li role="presentation" class="dropdown-header">Рейтинг за 7 дней:</li>                 
          <li><a >Another action</a></li>
          <li role="presentation" class="divider"></li>

          <li role="presentation" class="dropdown-header">Рейтинг за 30 дней:</li>                 
          <li><a >Separated link</a></li>
          <li role="presentation" class="divider"></li>          

          <li role="presentation" class="dropdown-header">Рейтинг за 365 дней:</li>                 
          <li><a >One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right top_header_filter">
      <li ng-if="!fpk.the_user.rights.isInside"><a>Ограниченный доступ (вы зашли не с рабочей сети)</a></li>
      <li ng-if="fpk.inside"><a href="#/fpk/admin_cup" ng-class="{active: $routeSegment.startsWith('s1.admin_cup')}" >Трафик</a></li>
      <li ng-if="fpk.inside"><a href="#/fpk/reiting"  ng-class="{active: $routeSegment.startsWith('s1.reiting')}">Рейтинг менеджеров</a></li>
      <li ng-if="fpk.inside&&fpk.the_user.rights[0].can_edit_models"  ng-class="{active: $routeSegment.startsWith('s1.settings')}"><a href="#/fpk/settings/models">Настройки</a></li>
      <li class="dropdown" ng-if="fpk.inside">
        <a  class="dropdown-toggle" data-toggle="dropdown">Фильтр: {{fpk.jsFioShort(fpk.jsShowManagerFilter(),"name")}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li role="presentation" class="dropdown-header">Фильтровать по:</li>                   
          <li ng-click="jsSelectManager(-1)"><a><i class="icon-users"></i>Все менеджеры</a></li>
          <li role="presentation" class="dropdown-header">Менеджеры:</li>                   
          <li ng-click="jsSelectManager(manager.id)" ng-repeat="manager in fpk.managers | onlyManager:true"><a><i class="icon-user"></i>{{fpk.jsFioShort(manager.fio,"name")}}</a></li>
          <li class="dropdown-submenu"><a >Остальные</a>
           <ul class="dropdown-menu">
            <li ng-click="jsSelectManager(manager.id)" ng-repeat="manager in fpk.managers | onlyManager:false"><a >{{manager.fio}}</a></li>
           </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

  
</div>

<div id="panel_left" resizable style="width:{{fpk.left_panel_width}}px">


    <div id="panel_left_header">
<!-- {{fpk.users_groups}} -->

      <a href="#/user/login" title="{{fpk.jsFindInArray(fpk.users_groups, 'id', fpk.the_user.user_group ).title}}"><i class="icon-user"></i>{{fpk.jsFioShort(fpk.the_user.fio,'name')}}<b ng-if="jsGetOnline()"> - выход</b><b ng-if="!jsGetOnline()"> - offline</b></a>
    </div>

    <div id="panel_left_content" class="noselectable">
        <ul class="left_menu">
          <li ng-repeat="menu_item in fpk.leftmenu.items" ng-class="{ 'active': ($index==fpk.leftmenu.active||$routeSegment.startsWith(menu_item.segment)) }" ng-click="fpk.jsSelectLeftMenu(menu_item, $index);">
          {{menu_item.title}} <div ng-if="fpk.stat[menu_item.id]" class="div_count">{{fpk.stat[menu_item.id]}}</div>
          </li>
        </ul>

        <div id="main_calendar">
          <div id="datetoday" class="input-append date" ng-model="fpk.today_date" datepicker>
        </div>

        </div>
        


    </div>


    <div id="panel_left_footer">
        <ul>
            <li ng-repeat="left_tab in left_tabs"><span style="background:{{left_tab.color}};z-index:{{5 - $index}}">{{left_tab.title}}</span></li>
        </ul>
    </div>


</div>

<div id="panel_center" style="left:{{fpk.left_panel_width}}px; right:{{fpk.right_panel_width}}px;">
    <div id="panel_center_header">
       <div class="make_center">
            <div class="menu_mini select_brand">
                <div class="btn-group">
                    <button type="button" class="btn btn-cloud btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{ 'synced': sync.did, 'syncing': sync.syncing }">
                      <img ng-if="fpk.brands[fpk.brand]" height="16px" width="25.6px" ng-src="images/logos/{{fpk.brands[fpk.brand].logo}}"></img>
                      <span class="caret" ng-if="jsGetBrands()"></span>
                    </button>
                    <ul class="dropdown-menu" ng-if="jsGetBrands()">
                      <li role="presentation" class="dropdown-header">Выбор бренда:</li>                   
                      <li ng-repeat="the_brand in ttt=jsGetBrands()" ng-class="{needgroup:( (ttt[$index].brand_group)!=(ttt[$index+1].brand_group))}"><a ng-click="jsSelectBrand(the_brand.id)"><img height="16px" width="25.6px" style="margin-right:10px;" ng-src="images/logos/{{the_brand.logo}}"></img>{{the_brand.title}}</a></li>
                    </ul>
                  </div>
                </div>
            </div>  
    

            <div class="hidden-xs">
                <div class="btn-group btn-group-sm">
                  <a href="#/fpk/clients" ng-class="{active: $routeSegment.startsWith('s1.clients')}" type="button" class="btn btn-default">Клиенты</a>


                  <a href="#/fpk/news" style="display:none;" ng-class="{active: $routeSegment.startsWith('s1.news')}" type="button" class="btn btn-default">Новости</a>

                  <a href="#/fpk/calendar" ng-class="{active: $routeSegment.startsWith('s1.calendar')}" type="button" class="btn btn-default">Календарь</a>

                  <a href="#/fpk/statistic" ng-class="{active: $routeSegment.startsWith('s1.stat')}" type="button" class="btn btn-default" ng-if="fpk.inside">Статистика</a>

                </div>
            </div>
            <div class="visible-xs">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Заметки
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <a href="#/fpk/clients" ng-class="{active: $routeSegment.startsWith('s1.clients')}" type="button" class="btn btn-default">Клиенты</a>


                        <a href="#/fpk/news" style="display:none;" ng-class="{active: $routeSegment.startsWith('s1.news')}" type="button" class="btn btn-default">Новости</a>

                        <a href="#/fpk/calendar" ng-class="{active: $routeSegment.startsWith('s1.calendar')}" type="button" class="btn btn-default">Календарь</a>

                        <a href="#/fpk/statistic" ng-class="{active: $routeSegment.startsWith('s1.stat')}" type="button" class="btn btn-default" ng-if="fpk.inside">Статистика</a>
                    </ul>
                  </div>
                </div>
            <div class="menu_mini right">
                <div class="btn-group">
                    <button type="button" class="btn btn-box btn-default dropdown-toggle" data-toggle="dropdown"> Добавить
                      <i class="icon-plus"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <li role="presentation" class="dropdown-header">Без действий</li>
                      <li ng-click="jsNewClient()"><a >Новый клиент</a></li>
                      <li role="presentation" class="divider"></li>                 
                      <li role="presentation" class="dropdown-header">С действиями</li>
                      <li ng-click="jsNewClient(['zv', false])"><a >Звонок</a></li>
                      <li ng-click="jsNewClient(['vz', false])"><a >Визит</a></li>
                      <li ng-click="jsNewClient(['vz','tst'])"><a >Тестдрайв</a></li>
                      <li role="presentation" class="divider"></li>                 
                      <li role="presentation" class="dropdown-header">Клиент с отказом</li>
                      <li ng-click="jsNewClient(['zv','out'])"><a >Звонок</a></li>
                      <li ng-click="jsNewClient(['vz','out'])"><a >Визит</a></li>
                      <li ng-click="jsNewClient(['vz','tst','out'])"><a >Тестдрайв</a></li>
                    </ul>
                  </div>
            </div>

        </div><!-- header -->   

            <div id="center_content">

      <div class="" app-view-segment="1"></div>

      <div id="new_client_div" ng-if="fpk.show_one_client" resizablefull>
          <div class="close_one_client" ng-click="jsCloseOneClient()">закрыть <i class="icon-cancel-1"></i></div>
          <div class="one_client_container">

            <div client-list="fpk.one_client" my-attr="fpk.one_client" my-distinct="one_client"></div>
            
          </div>
      </div>


<!--
<div ng-show="view_switch==1">
    <ng-include src="'views/main.html'"></ng-include>
</div>
<div ng-show="view_switch==2">
    <ng-include ng-show="view_switch==2" src="'views/multieditor.html'"></ng-include>
</div>
<div ng-show="view_switch==3">
    <div id="myfullcalendar" ui-calendar="uiConfig.calendar" ng-model="notes"></div>
</div>
<div ng-show="view_switch==4">
    <ng-include ng-show="view_switch==2" src="'views/statistics.html'"></ng-include>
</div>
-->

<!-- <div class="view_container" ng-view=""></div> -->


            </div>






    <div id="center_footer">

        <div id="panel_opener_left" ng-click="openPanel('left')">
            <i class="icon-right-open-1"></i>
        </div>

        <div class="cup_sms">
          <ul>
            <li ng-repeat="sms in fpk.cup_sms | orderBy:'order'" title="{{sms.title}}" ng-click="getSMS(sms)" ng-class="{active: (sms == sms_active)}">
                <img class="img_{{sms.type}}" ng-src="/images/do_type/{{sms.icon}}" width="14px">
                <span class="sms odometer" color-change="sms" ng-if="!sms.plan">{{sms.day}} ({{sms.month}})</span>
                <span class="sms" ng-if="sms.plan">{{sms.plan.plan5}} + {{sms.plan.plan4}} + {{sms.plan.plan3}}</span>
            </li>
          </ul>
        </div>
        
        <div id="panel_opener_right" ng-click="openPanel('right')">
            <i class="icon-left-open-1"></i>
        </div>

    <!-- <font color="black" ng-bind-html="fpk.showfpk()"></font> -->
    </div> <!-- footer -->



<div id="main_editor" ng-show="editor" ng-click="closeEditor($event)"  ng-repeat="note in notes | filter:filterEdit()">
<div id="editor_cont">
    <div class="editor_title" contenteditable="true" strip-br="false"
        select-non-editable="false" ng-model="note.title"></div>

            <div class="menu_mini left">
                <div class="btn-group">
                    <button type="button" class="btn btn-box btn-default dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-down-dir"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li role="presentation" class="dropdown-header">Вставить</li>         
                      <li><a >Вставить текущую дату</a></li>
                      <li><a >Вставить галочку</a></li>
                      <li role="presentation" class="divider"></li>                 
                      <li role="presentation" class="dropdown-header">Сервис</li>           
                      <li><a >История изменений</a></li>
                      <li><a >Печать</a></li>
                    </ul>
                  </div>
            </div>


            <div class="btn-group btn-group-sm right_buttons">
              <button ng-click="fullScreen(); $event.stopPropagation();" type="button" class="btn btn-default"><i class="icon-resize-full"></i></button>
              <button ng-click="closeEditor($event);$event.stopPropagation();" type="button" class="btn btn-default"><i class="icon-cancel"></i></button>
            </div>
    <div ui-redactor="redactorOptions" ng-model="note.text"></div>
</div>

<!-- <div class="div_editor" ng-repeat="note in notes | filter:filterEdit()" ng-model="note.text"
        strip-br="false"
        select-non-editable="false" contenteditable="true" ng-click="$event.stopPropagation();">
</div>
 -->


</div>


</div> <!-- Panel Center -->


       </div> 



    </div>

<div id="panel_right" resizable2 style="width:{{fpk.right_panel_width}}px">

    <div id="panel_right_header">
    Дела<span ng-if="fpk.manager_filter==-1"> всего отдела</span><span ng-if="fpk.manager_filter!=-1"> менеджера</span>:
    </div>

    <div id="panel_right_content" class="noselectable">
      <div class="mydo">
        <ol>
          <li ng-click="jsOpenClientFromRight(mydo)" ng-repeat="mydo in fpk.today_do">
          <div class="datemini right_do" time-now="time_now" date-type="client" ng-model="mydo.date2" title="{{client.na_date}}"></div> 
          <div class="do_type_icon"><img ng-src="/images/do_type/{{fpk.do_types_array[mydo.type].img}}" width="10px" title="Тип дела: {{mydo.type}}"></div>
          {{mydo.text}}
          <div class="mydo_fio"><span ng-if="mydo.short"><b>{{mydo.short}}</b> — </span>{{(mydo.fio)}}</div>
          <div ng-if="fpk.manager_filter==-1" class="mydo_fio">Менеджер: <i class="icon-user"></i>{{fpk.jsFioShort(mydo.man)}}</div>
          </li>
        </ol>
      </div>
    </div>

</div>


