<div id="panel_top">	
</div>

<div id="panel_left">
</div>

<div id="panel_center">
	<div id="panel_center_header">

	   <div class="make_center">
	  	    <div class="menu_mini">
	  		    <div class="btn-group">
	  		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  		          <span class="caret"></span>
	  		        </button>
	  		        <ul class="dropdown-menu">
					  <li role="presentation" class="dropdown-header">Сервер</li>	  		        
	  		          <li><a href="#">Синхронизация</a></li>
					  <li role="presentation" class="divider"></li>	  		        
					  <li role="presentation" class="dropdown-header">Редактор</li>	  		        
	  		          <li><a href="#">Распечатать заметку</a></li>
	  		          <li><a href="#">Поделиться</a></li>
	  		        </ul>
	  		      </div>
	  		    </div>
	  	    </div>	
	

		    <div class="hidden-xs">
				<div class="btn-group btn-group-sm">
				  <button type="button" class="btn active btn-default" data-i18n="header.notes;[title]header.notes_title"></button>
				  <button type="button" class="btn btn-default" data-i18n="header.editor;[title]header.editor_title"></button>
				  <button type="button" class="btn btn-default" data-i18n="header.calendar;[title]header.calendar_title"></button>
				</div>
			</div>
			<div class="visible-xs">
				<div class="btn-group btn-group-sm">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				      Заметки
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
				      <li><a href="#">Синхронизация</a></li>
				      <li><a href="#">Редактор</a></li>
				      <li><a href="#">Календарь</a></li>
				    </ul>
				  </div>
				</div>

	  	    <div class="menu_mini right">
	  		    <div class="btn-group">
	  		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  		          <i class="icon-plus"></i>
	  		        </button>
	  		        <ul class="dropdown-menu pull-right">
	  		          <li><a href="#">Добавить заметку</a></li>
	  		          <li><a href="#">Дневник на сегодня</a></li>
	  		          <li><a href="#">Выполненное дело в календарь</a></li>
	  		        </ul>
	  		      </div>
	  		</div>

	  	</div><!-- header -->	

	  	    <div id="panel_path">	 
	  	    	<div class="history_buttons">
		  	    	<i class="icon-left-dir hist_back"></i>
		  	    	<i class="icon-right-dir hist_forward"></i>
	  	    	</div>
	  	    	<ul>
	  	    		<li class="first_path"><a ng-click="openParentId(1)">&nbsp;<i class="icon-home"></i></a></li>
	  	    		<li ng-repeat="path in current_path"><a ng-click="openParentId(path.id)" compile="path.title" ></a></li>
	  	    	</ul>
	  	    </div>


	  	    <div id="panel_fav">	  	    	
	  	    	<ul>
	  	    		<li ng-repeat="favorit in favorits">
	  	    		<i class="{{favorit.icon}}"></i>
	  	    		{{favorit.title}}
	  	    		</li>
	  	    	</ul>
	  	    </div>

	  	    
	  	    <div id="center_content">


	  	      <div id="cards_scrollable"  ng-dblclick="goToParent()">
	  	       <div id="cards_container">

	  	    	<div id="cards_header">
					

		  		    <div class="btn-group col-sm-3">
		  		        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		  		          Вид: карточки
					      <span class="caret"></span>
		  		        </button>
		  		        <ul class="dropdown-menu">
						  <li role="presentation" class="dropdown-header">Вид:</li>	  		        
		  		          <li><a href="#"><span class='hot_key'>alt + 1</span>карточки</a></li>
		  		          <li><a href="#"><span class='hot_key'>alt + 2</span>карта ума</a></li>
		  		          <li><a href="#"><span class='hot_key'>alt + 3</span>дерево</a></li>
		  		          <li><a href="#"><span class='hot_key'>alt + 4</span>панели</a></li>
		  		          <li><a href="#"><span class='hot_key'>alt + 5</span>таблица</a></li>
		  		        </ul>
		  		    </div>

		  		    <div class="btn-group col-sm-2" >
		  		        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		  		          <i class="icon-shuffle"></i>: вручную
					      <span class="caret"></span>
		  		        </button>
		  		        <ul class="dropdown-menu">
						  <li role="presentation" class="dropdown-header">Сортировать:</li>	  		        
		  		          <li><a href="#">вручную</a></li>
		  		          <li><a href="#">по имени</a></li>
		  		          <li><a href="#">по дате события</a></li>
		  		          <li><a href="#">по дате создания</a></li>
		  		        </ul>
		  		    </div>


					<div class="input-group col-sm-3" id="cards_search">
					      <input id="search_notes" type="text" ng-model="search_string_for_timeout" ng-change="startSearch(search_string_for_timeout)" class="form-control input-sm" placeholder="Искать...">
					  <!-- <eased-input value="search_string" timeout="500" placeholder="Найти..." class="input-sm"/> -->
					      <div class="input-group-btn">
					        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					        <ul class="dropdown-menu pull-right">
							  <li role="presentation" class="dropdown-header">Где искать:</li>	  		        
					          <li><a href="#">Везде</a></li>
					          <li><a href="#">В текущей папке</a></li>
					          <li><a href="#">В дневнике</a></li>
					          <li class="divider"></li>
							  <li role="presentation" class="dropdown-header">5 последних поисков:</li>	  		        
					          <li><a href="#">Рыба</a></li>
					          <li><a href="#">Мясо</a></li>
					          <li><a href="#">Как делать конфеты</a></li>
					          <li><a href="#">Запись</a></li>
					          <li><a href="#">Мысли вслух</a></li>
					        </ul>
					      </div><!-- /btn-group -->
					</div><!-- /input-group -->

	  	    	</div>
	  	    	<div style="clear:both;"></div>
		  	    <ul class="cards_list clearfix noselectable">

	  	    		<li ng-repeat="note in notes | filter:parentIdMatch()" class="li_card" style="width:{{(settings.cardWidth/1 + 10)}}px;min-height:{{settings.cardWidth/1.4+10}}px;font-size:{{settings.cardWidth/20}}px" ng-class="{ 'selected': $index == selectedIndex,'card_big': $index == zoomIndex,'card_folder': note.count>0 }" ng-click="liClicked($index)">

	  	    			<div class="card_div" sync-on-change>
		  	    			<div class="card_title" ng-dblclick="openParentId(note.id, $event); $event.stopPropagation();">
		  	    				<div ng-click="openParentId(note.id, $event);" class="card_icon">
		  	    					<i class="icon-doc-2"></i>
				  	    			<div class="the_count" ng-bind="note.count=findByParent(note.id,'count')">
				  	    			</div>
		  	    				</div>
		  	    				<div class="title_div" ng-dblclick="openParentId(note.id, $event);">
		  	    					<div class="the_title" contenteditable="true" ng-model="note.title" ng-dblclick="$event.stopPropagation();" ng-click="$event.stopPropagation();">
		  	    					</div>
		  	    				</div>
		  	    			
		  	    			</div>
		  	    			<!-- openEditor(note.id); $event.stopPropagation(); -->
		  	    			<div class="card_text thin_scroll" contenteditable="true" ng-model="note.text"
	        strip-br="false"
	        select-non-editable="false" ng-click="$event.stopPropagation();" style="height:{{settings.cardWidth/1.4-35}}px;">		  	    			

		  	    			</div>
		  	    			<div class="card_footer">	  	    				
		  	    				<i title="Увеличить размер карточки" ng-click="itemClicked($index); $event.stopPropagation();" class="icon-zoom-in left"></i>
		  	    				<center style="margin-top: -20px; font-size:10px; font-weight:bold" ng-bind="sqldate(note.changetime)"></center>
		  	    				<i title="Открыть в редакторе" ng-click="openEditor(note.id); $event.stopPropagation();" class="icon-edit-1 right"></i>
		  	    			</div>
		  	    		</div>
	  	    		</li>
		  	    </ul>

		  	    <div id="add_notes" >
   					<input type="range" max = "500" ng-model="settings.cardWidth">

			        <input type="text" class="form-control input-sm" ng-model="add_text" ng-change="addNotesInput(add_text)" placeholder="Добавить заметки разедённые через запятую...">
			    </div>
		        </div>
		  	   </div> <!-- scrollable --> 
		  	</div>






    <div id="center_footer">

	  	<div id="panel_opener_left" ng-click="openPanel('left')">
	  		<i class="icon-right-open-1"></i>
	  	</div>
	  	<span ng-click="jsSync()" class="center">синхронизировано: {{sync.did}}</span>
	  	<div id="panel_opener_right" ng-click="openPanel('right')">
	  		<i class="icon-left-open-1"></i>
	  	</div>


    </div> <!-- footer -->



<div id="main_editor" ng-show="editor" ng-click="closeEditor($event)"  ng-repeat="note in notes | filter:filterEdit()">
<div id="editor_cont">
	<textarea id="redactor" ui-redactor="redactorOptions" ng-model="note.text"></textarea>
</div>

<!-- <div class="div_editor" ng-repeat="note in notes | filter:filterEdit()" ng-model="note.text"
        strip-br="false"
        select-non-editable="false" contenteditable="true" ng-click="$event.stopPropagation();">
</div>
 -->
<div id="editor_left_arrow" class="hidden-sm hidden-xs">
	<div class="arrow_middle">
		<i class="icon-left-dir"></i>
	</div>
</div>

<div id="editor_right_arrow" class="hidden-sm hidden-xs">
	<div class="arrow_middle">
		<i class="icon-right-dir"></i>
	</div>
</div>


</div>


</div> <!-- Panel Center -->


	   </div> 



	</div>

<div id="panel_right">
</div>